html {
    height: 100%;
    display: grid;
    justify-items: center;
}

body {
    background-color: orange;
}

.container {
    margin: 5em;
    padding: 5em;
    border-radius: 15px;
    display: grid;
}

